[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "learnPopGen"]
	path = learnPopGen
	url = https://github.com/liamrevell/learnpopgen
[submodule "phytools"]
	path = phytools
	url = https://github.com/liamrevell/phytools
